若 RSI > 70，市場超買。預期下跌，做空

若 RSI < 30，市場超賣。預期上漲，做多

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
df = yf.download("3090.TW", "2024-01-01")
df

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker        3090.TW    3090.TW    3090.TW    3090.TW  3090.TW
Date
2024-01-02  55.397804  55.492828  55.017719  55.207760   194676
2024-01-03  55.017719  55.397805  55.017719  55.397805   271243
2024-01-04  54.922695  55.112740  54.922695  54.922695   187412
2024-01-05  54.637630  55.112740  54.637630  55.112740   334137
2024-01-08  54.162518  54.827672  54.162518  54.637627   376404
...               ...        ...        ...        ...      ...
2025-04-02  72.199997  72.199997  68.300003  68.900002  1770782
2025-04-07  65.000000  65.000000  65.000000  65.000000   313287
2025-04-08  60.299999  61.299999  58.599998  59.099998  3496382
2025-04-09  55.299999  60.700001  54.700001  59.900002  3279522
2025-04-10  60.799999  60.799999  60.799999  60.799999   480957

[303 rows x 5 columns]

In [3]:
import talib

In [4]:
type(df.Close)
df.Close

Ticker        3090.TW
Date
2024-01-02  55.397804
2024-01-03  55.017719
2024-01-04  54.922695
2024-01-05  54.637630
2024-01-08  54.162518
...               ...
2025-04-02  72.199997
2025-04-07  65.000000
2025-04-08  60.299999
2025-04-09  55.299999
2025-04-10  60.799999

[303 rows x 1 columns]

In [5]:
Close_Arr = df['Close']['3090.TW'].to_numpy()

In [6]:
RSI = talib.RSI(Close_Arr, timeperiod=14)

In [7]:
RSI

array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan, 22.85718218,
       38.09522933, 38.09522933, 37.03467569, 33.0690203 , 34.94449333,
       32.95549302, 32.95549302, 40.7747004 , 37.26445599, 36.14734073,
       63.35608458, 64.762187  , 63.4511668 , 63.4511668 , 65.85607112,
       73.39669744, 75.35085349, 77.15778707, 78.82913885, 83.14546174,
       70.11853098, 65.1238829 , 66.16215801, 66.16215801, 51.84238147,
       44.68229668, 44.08616983, 49.19565148, 51.25165436, 51.94971611,
       46.88830878, 51.93179354, 54.58567387, 50.11600071, 52.22255099,
       48.54318154, 50.05890439, 45.05642736, 45.88833258, 46.75654364,
       48.53503612, 58.8874511 , 57.11976834, 51.31388928, 56.11739818,
       58.0286525 , 56.26916141, 54.4898781 , 57.39178004, 50.46151705,
       42.224991  , 46.16774344, 44.84929979, 39.39697156, 39.39697156,
       41.23808311, 47.27548205, 49.66247962, 49.66247962, 59.56921542,
       57.81859128, 57.81859128, 67.72030549, 77.2891188 , 80.23382578,
       74.99766447, 78.64294309, 71.9936024 , 68.85864263, 69.1479964 ,
       67.13268038, 70.79880634, 71.08820333, 73.87647028, 70.22951737,
       73.34683746, 67.78745633, 72.54901768, 70.56667084, 70.56667084,
       71.47075276, 60.75265324, 59.5504441 , 61.59640532, 62.81185786,
       60.74154193, 59.3374364 , 61.26598189, 54.95096193, 50.01581668,
       54.42386935, 57.92064359, 58.41159539, 56.28995515, 52.844907  ,
       52.844907  , 55.97013102, 57.19225725, 53.96596786, 53.96596786,
       42.31264317, 43.94217136, 47.15717833, 42.55734858, 49.3923373 ,
       49.3923373 , 56.1204526 , 46.74981664, 44.46533098, 42.24234324,
       47.85705941, 44.37300373, 43.80067567, 61.46472652, 56.27014207,
       49.73210326, 44.97073411, 38.78979791, 42.3061159 , 41.57130463,
       40.07221854, 43.37096836, 53.85658275, 55.02630884, 50.43655014,
       36.1491149 , 37.02240564, 50.22017767, 47.25760745, 48.88137645,
       48.88137645, 48.53479101, 49.30891962, 49.30891962, 50.17807522,
       48.82572897, 48.82572897, 47.82906971, 46.80026959, 46.80026959,
       48.09511137, 48.09511137, 47.42576228, 49.68798278, 50.45328804,
       48.85274765, 48.85274765, 35.239253  , 33.79060887, 45.79024904,
       42.99312896, 41.36060408, 42.91680342, 46.00321726, 49.6667339 ,
       50.39168609, 46.10131172, 48.46396102, 49.26237055, 50.09495302,
       52.60752185, 55.04500519, 55.85993019, 56.7051327 , 50.46160194,
       46.76482392, 44.15230805, 54.24555782, 55.04103291, 50.32935099,
       47.69141401, 54.53487207, 56.08181322, 49.70703892, 52.21401192,
       46.40181327, 44.13436897, 48.63909974, 47.80879037, 46.94570935,
       46.94570935, 41.70659241, 40.10011724, 38.50295845, 39.79418912,
       37.26628497, 37.26628497, 38.76994002, 53.25079679, 58.53160189,
       62.34851742, 57.76760648, 58.58679731, 81.95626023, 72.06696192,
       59.84611198, 60.82176816, 61.16053031, 64.16387794, 65.13175125,
       77.81961982, 71.63440778, 65.9862578 , 73.9754893 , 68.79222676,
       65.6096082 , 60.27115156, 71.28098906, 68.08779059, 62.09636664,
       55.62685905, 52.56855277, 52.96637081, 52.96637081, 48.92143681,
       46.23719202, 47.01983496, 48.88943028, 46.61192474, 46.09798586,
       47.95200137, 47.36715264, 52.93135674, 53.51932439, 53.51932439,
       50.93651066, 52.35156465, 47.88921351, 45.12754248, 47.56965496,
       45.7426829 , 44.63499417, 39.48634489, 39.48634489, 33.50924431,
       40.75288328, 39.81855368, 39.49352622, 41.5488516 , 43.61163179,
       48.50438375, 47.1817249 , 42.59524909, 42.19369979, 54.98887443,
       56.82661625, 66.53738345, 67.72201742, 70.21982137, 65.73751929,
       67.7105555 , 60.23906754, 59.79497457, 58.40388724, 56.06292466,
       57.5295393 , 58.27940209, 58.67230989, 52.30632262, 55.34971208,
       54.28390233, 49.18413168, 51.1606279 , 50.63044612, 50.63044612,
       53.42910226, 56.10860616, 50.47864501, 57.60490239, 58.06904696,
       64.72377883, 67.17804434, 69.46582848, 68.00725085, 68.71468106,
       58.89720248, 49.17014781, 47.30067632, 48.87079443, 50.46035082,
       44.06706138, 33.78397679, 38.07677973, 53.19141774, 35.19075674,
       28.42775184, 23.29809545, 36.80628165])

In [39]:
RSI_df = pd.DataFrame(RSI, columns=['RSI'], index=df.index)

In [41]:
RSI_df

                  RSI
Date
2024-01-02        NaN
2024-01-03        NaN
2024-01-04        NaN
2024-01-05        NaN
2024-01-08        NaN
...               ...
2025-04-02  53.191418
2025-04-07  35.190757
2025-04-08  28.427752
2025-04-09  23.298095
2025-04-10  36.806282

[303 rows x 1 columns]

In [12]:
buy_in_list = []
sell_out_list = []

In [46]:
for index, row in RSI_df.iterrows():
    if pd.notna(row['RSI']):
        # overbought
        if row['RSI'] > 70:
            sell_out_list.append(row)
        # oversold
        elif row['RSI'] < 30:
            buy_in_list.append(row)
    else:
        continue

In [49]:
sell_df = pd.DataFrame(sell_out_list)
buy_df = pd.DataFrame(buy_in_list)

In [50]:
print("sell out signal: ")
sell_df

sell out signal:

                  RSI
2024-02-22  73.396697
2024-02-23  75.350853
2024-02-26  77.157787
2024-02-27  78.829139
2024-02-29  83.145462
...               ...
2024-11-25  77.819620
2024-11-26  71.634408
2024-11-28  73.975489
2024-12-04  71.280989
2025-02-11  70.219821

[135 rows x 1 columns]

In [51]:
print("buy in signal: ")
buy_df

buy in signal:

                  RSI
2024-01-22  22.857182
2025-04-08  28.427752
2025-04-09  23.298095
2024-01-22  22.857182
2025-04-08  28.427752
2025-04-09  23.298095
2024-01-22  22.857182
2025-04-08  28.427752
2025-04-09  23.298095
2024-01-22  22.857182
2025-04-08  28.427752
2025-04-09  23.298095
2024-01-22  22.857182
2025-04-08  28.427752
2025-04-09  23.298095